*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  
}

:root {
  color-scheme: light;
}


.conteniing{
width: 100%;
height: 500px;
  
background-image: url('https://res.cloudinary.com/db8e98ggo/image/upload/v1743455851/gifs_para_apps_1200_x_640_px_ecnykf.jpg');
background-size: cover;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  border-radius:  0 0 25px 25px;

}
.conytefuññ{
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.tilecupo{
background-color: rgb(255, 255, 255);
text-align: center;
font-size: clamp(35px, 15px, 95px);
color:#21386c;
}



















/*cupons */
.contecupo {
  display: flex;
  overflow-x: auto;  /* Scroll solo en el eje X */
  overflow-y: hidden; /* Evita que haya scroll vertical */
  white-space: nowrap; /* Evita que los elementos bajen */
  gap: 20px; /* Espaciado entre cupones */
  padding: 10px;
  background-color: rgb(255, 255, 255);
  max-width: 100%; /* Para que no se salga de la pantalla */
}

.contecupo::-webkit-scrollbar {
  height: 8px; /* Tamaño del scrollbar */
}

.contecupo::-webkit-scrollbar-thumb {
  background: #888; /* Color del scrollbar */
  border-radius: 4px;
}

.contecupo > div {
  max-width: 20px;

  min-width: 300px; /* Ancho mínimo para cada cupón */
  flex-shrink: 0; /* Evita que los elementos se reduzcan */
  background-color: #ffffff;
justify-content: space-around;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
   /* Permite que el texto se divida en varias líneas */
   word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: normal;
   border: solid 2px blueviolet;
   box-shadow: 2px 1px 7px black;
   color:#21386c;
}
.contedecupn {
 color:#21386c;
  font-size: clamp(35px, 3vw, 124rem);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Para dispositivos móviles: imagen diferente */
/*pantall medians */
@media (max-width: 780px) {
  .conteniing {
    width:  100%;
    height: 768px;
   
    background-size: cover;
 
  
    background-image: url('https://res.cloudinary.com/db8e98ggo/image/upload/v1743451121/gifs_para_apps_1_rlskd1.jpg');

    
  }
}
/*pantall pequñas */@media (max-width: 588px) {
  .conteniing {
    width:  100%;
    border-radius:  0 0 25px 25px;
   background-size: cover;
   height: 405px;
  }

    
    

}

